<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Empleados</title>
</head>

<body>

<div class="container">

  <div th:replace="~{fragmentos/menu.html::menu}"></div>

  <div class="row justify-content-center text-center mt-5">
    <h1 class="pb-2 border-bottom">Empleados Totales</h1>
  </div>

  <main>
    <div class="container px-4 py-5">
      <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
      <div th:if="${msgDanger != null}" th:text="${msgDanger}" class="alert alert-danger" role="alert"></div>
      <a class="btn btn-primary mt-4 mb-4" th:href="@{/empleados/nuevo}">Nuevo Empleado</a>
      <form method="post" th:action="@{/empleados/buscar}">
        <div class="mb-3 row">
          <div class="col-10">
              <input th:value="${textoBuscado}" type="text" class="form-control col-10" placeholder="Buscar" name="textoBuscar"/>
          </div>
          <div class="col-1">
            <button class="btn btn-success" type="submit">Buscar</button>
          </div>
          <div class="col-1">
            <a class="btn btn-secondary" th:href="@{/empleados}">Limpiar</a>
          </div>
        </div>
      </form>

      <table class="table table-sm">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Puesto</th>
          <th>Departamento</th>
          <th>Ciudad</th>
          <th></th>
          <th></th>
        </tr>
        <tr th:each="empleado, info : ${listaEmpleados}">
          <td th:text="${info.index + 1}"></td>
          <td th:text="${empleado.first_name}"></td>
          <td th:text="${empleado.last_name}"></td>
          <td th:text="${empleado.jobs.job_title}"></td>
          <td th:text="${empleado.departments.department_name}"></td>
          <td th:text="${empleado.departments.locations.city}"></td>
          <td><a class="btn btn-primary" th:href="@{'/empleados/editar' + '?id=' + ${empleado.employee_id}}">Editar</a>
          </td>
          <td><a class="btn btn-danger" th:href="@{'/empleados/delete' + '?id=' + ${empleado.employee_id}}">Borrar</a>
          </td>
        </tr>
      </table>
    </div>
  </main>



</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>