<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Nuevo Empleado</title>
</head>
<body>


<div class="container">

  <div th:replace="~{fragmentos/menu.html::menu}"></div>

  <div class="row justify-content-center text-center mt-5">
    <h1 class="pb-2 mb-3 border-bottom">Nuevo Ingreso</h1>
  </div>

<main>



  <div class="container px-4 py-5">


    <form method="post" th:action="@{/product/save}" class="mt-2">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre">
      </div>

      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="apellido" id="apellido">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" name="email" id="email">
      </div>

      <div class="mb-3">
        <label for="contrasena" class="form-label">Contrasena</label>
        <input type="text" class="form-control" name="contrasena" id="contrasena">
      </div>

      <div class="mb-3">
        <label for="puesto" class="form-label">Puesto</label>
        <select name="puesto" id="puesto" class="form-select">
          <option th:each="puesto : ${listaPuestos}"
                  th:value="${puesto.job_id}"
                  th:text="${puesto.job_title}"></option>
        </select>
      </div>

      <div class="mb-3">
        <label for="sueldo" class="form-label">Sueldo</label>
        <input type="number" class="form-control" name="sueldo" id="sueldo">
      </div>


      <div class="mb-3">
        <label for="jefe" class="form-label">Jefe</label>
        <select name="jefe" id="jefe" class="form-select">
          <option th:each="jefe : ${listaJefes}"
                  th:value="${jefe.employee_id}"
                  th:text="${jefe.first_name} + ' ' + ${jefe.last_name} "></option>
        </select>
      </div>

      <div class="mb-3">
        <label for="departamento" class="form-label">Departamento</label>
        <select name="departamento" id="departamento" class="form-select">
          <option th:each="departamento : ${listaDepartamentos}"
                  th:value="${departamento.department_id}"
                  th:text="${departamento.department_name}"></option>
        </select>
      </div>


      <a th:href="@{/empleados}" class="btn btn-danger">Cancelar</a>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</main>
</div>

</body>
</html>